<div class="functions-content">
  <div class="block-details">
    <a routerLink="/dashboard/section/functions/linear-function" routerLinkActive="active">Funkcja Liniowa</a>
  </div>
  <div class="block-details">
    <a routerLink="/dashboard/section/functions/quadratic-function" routerLinkActive="active">Funkcja Kwadratowa</a>
  </div>
  <div class="block-details">
    <a routerLink="/dashboard/section/functions/exponential-function" routerLinkActive="active">Funkcja Wykładnicza</a>
  </div>

  <p>
    Funkcją nazywamy takie przyporządkowanie określone na zbiorze <i>X</i>
    posiadające wartości ze zbioru <i>Y</i>, w którym każdemu elementowi ze zbioru <i>X</i> odpowiada
    dokładnie jeden element ze zbioru <i>Y</i>.
  </p>
</div>
