<div class="linear-function-content">
  <p>
    Funkcja liniowa opisana jest wzorem <i>f(x) = ax + b</i>, gdzie <i>a</i> to współczynnik kierunkowy funkcji, <i>x</i>
    to argument, <i>b</i> jest współrzędną punktu przecięcia z osią <i>Oy</i>: (0, <i>b</i>).
    <br>Wykresem funkcji jest linia prosta.
    <br>Funkcja liniowa może zawierać monotoniczność stałą, rosnącą, oraz malejącą.
  </p>

  <div class="chart">
    <canvas id="linear-function-chart"></canvas>
    <p>f(x)={{aParam}}*x+{{bParam}}</p>
    <div class="input-group">
      a:<input [(ngModel)] = "aParam"><br>
      b:<input [(ngModel)] = "bParam">
      <button (click)="renderChart(aParam, bParam)">Zaktualizuj Wykres</button>
    </div>
  </div>
</div>
