.nav{
  width: 25%;
  max-width: 190px;
  vertical-align: top;
  display: inline-block;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li{
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
}

.nav a{
  color: #ffffff;
  text-decoration: none;
}

.nav li:hover{
  background-color: #0099cc;
}
